[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gamesGA"]
	path = gamesGA
	url = https://github.com/bradduthie/gamesga
[submodule "resevol"]
	path = resevol
	url = https://github.com/bradduthie/resevol
